.heading-VS h1{
	padding-top:60px;
	padding-left: 40px;
	margin-left: 35%;
	color: indigo;
	font-size: 10vh;	
}

.Vision_image img{
	height: auto;
	width:15%;
	margin-left: 40vh;
	margin-top: 40px;

}

.Vision{
	height: auto;
	width: 30%;
	margin-left: 30vh;
	padding-top: 30px;
}

.Mission_image img{
	height: auto;
	width:15%;
	margin-left: 60%;
	margin-top:-50px; 
}
.Mission{
	height: auto;
	width: 30%;
	margin-left: 55%;
	padding-top: 20px;	
}

.Why_PNS {
	background-image: url(../images/Why_PNS.jpg);
	height:auto;
	width:100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0px;
}
.Why_PNS h1{
	position: relative;
	padding-top:60px;
	padding-left: 20px;
	margin-left: 50px;
	color: #fff;
	font-size: 10vh;
}

.Why_PNS p{
	position: relative;
	padding-left: 40px;
	margin-left: 30px;
	color: black;
	font-weight: bold;
	line-height: 2em;
	color: #fff;
	font-size: 20px;
}


.achieve_mission {
	height:auto;
	width:100%;
	margin-top: 0px;
	border: 1px solid white;
	background-color: lightgray;

}

.achieve_mission h1{
	font-weight: bold;
	color: orange;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 20px;	
}

.achieve_mission p{
	text-align: center;
	margin-left: 20vh;
	margin-right: 20vh;	
	/*margin-bottom: 200px;  */
}

.about-us-mission-last{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

body nav ul li ul {
  display: none;
}
body nav ul li:hover ul {
  display: inline-block;
  font-weight: normal;
  position: absolute;
  margin-left:-40px;
  
}
body nav ul li ul li {

  display: block;
  position: relative;
  border-radius: 0.1em;
}
body nav .navbar-nav .sub_menu li:hover {
  color: #ff8013 !important;
  /*background-color: ;*/
 
}

li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

.Courses-Image{
	background-color: white;
	padding-bottom: 80px;
}

.Courses-Image h1{
	padding-top:10vh;
	color: orange;
        text-align: center;

}
.Courses-Image img{
	height:auto;
	width: 15%;
	margin:auto;
	margin-top: 20px;
	margin-left: 28vh;
	padding-top: 10px;
}

.Demo-Course img{
	margin-left: 40vh;
	padding-top: 60px;
	height:50%;
	width: 15%;
	
}

.Demo-Content{
	background-color: white;


}

.Demo-Content1 {
	background-color: lightgrey;
	width:200px;
	height: 200px;
	border:1px solid black;
	display: inline-block;
	margin-left: 30vh;
	margin-top: 10vh;
    margin-bottom: 10vh;

}

.Demo-Content1 p{

	position: absolute;
	color: #2c3a6f !important;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 20px;
    
}

.Demo-Content1 h6{
	position: absolute;
	color: #2c3a6f !important;
    padding-top: 70px;
    padding-left: 10px;

}

.Demo-Content1 h4{
	position: absolute;
	color: #2c3a6f !important;
    padding-top: 130px;
}

.Demo-Content1 h5{
	position: absolute;
	color: #2c3a6f !important;
    padding-top: 160px;
    font-size: 15px;
    padding-left: 20px;
}


.Why_UPSC {
	height:auto;
	width:100%;
	/*background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  border: 1px solid orange;

}

.Why_UPSC h2{
	position: relative;
	padding-top:40px;
	margin-left: 50px;
	color: orange;
	font-size: 10vh;
	text-align: center;
}

.Why_UPSC p{
	position: relative;
	text-align: center;
	margin-left: 20vh;
    font-size: 20px;
	line-height: 2em;
	margin-right: 20vh;
}

.Online_Courses{
	/*background-color: white;*/
	padding-top: 2vh;
}

.Video_Lectures {
	height:auto;
	width:100%;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  background-color: indigo;
  

}
.Video_Lectures h2{
	position: relative;
	padding-top:40px;
	margin-left: 50px;
	font-size: 10vh;
	text-align: center;
	color: white;
}

.Video-Content{
	position: relative;
	background-color: grey;
	width:200px;
	height: 200px;
	border:1px solid black;
	display: inline-block;
	margin-left: 30vh;
	margin-top: 10vh;
  
}

.Highlights h4{
	padding-top: 70px;
	color: #2c3a6f !important;
	padding-left: 10%;

}

.Highlights p{
	height: auto;
	width: 100%;
	color: #2c3a6f !important;
	margin-top: 30px;
	padding-top:50px;
	padding-left: 10%;
	padding-bottom: 50px;
	line-height: 2em;
	border: 1px solid white;
	background-color: lightgray;

}

.RegisterCourse h3{
	text-align: center;
	color: #2c3a6f !important;
	margin-top: 5%;
}

.Register {
	height: auto;
	padding: 30px 30px;
}
.form-group{
	text-align: center;
}
input[type="text"],
input[type="name"],
input[type="email"],
input[type="number"]
{
	border :none;
	outline: none;	
	border-bottom: 1px solid #2c3a6f;
	box-sizing: border-box;
}

input[type="text"]:focus{
	border-color: #2c3a6f;
	box-shadow: 0 0 8px 0 #2c3a6f;
}
input[type="name"]:focus{
	border-color: #2c3a6f;
	box-shadow: 0 0 8px 0 #2c3a6f;
}
input[type="email"]:focus{
	border-color: #2c3a6f;
	box-shadow: 0 0 8px 0 #2c3a6f;
}
input[type="number"]:focus{
	border-color: #2c3a6f;
	box-shadow: 0 0 8px 0 #2c3a6f;
}

.msg {
	border :none;
	outline: none;
	border-bottom: 1px solid #2c3a6f;	
	box-sizing: border-box;
}
.msg:focus{
	
	border-color: #2c3a6f;
	box-shadow: 0 0 8px 0 #2c3a6f;
}

.PanIndia{
	background-color: white;
}
.PanData {
	background-image: url(../images/whyupsc.jpg);
	background-color: lightgray;
	width:500px;
	height: auto;
	display: inline-block;
	margin-left: 30%;
	margin-top: 20vh;
    margin-bottom: 10vh;
    padding-bottom: 10vh;

}

.PanData h5{
	padding-top: 15%;
	margin-left: 40px;
}

.PanData h4{
	color: #2c3a6f;
	margin-left: 40px;
	padding-top: 30px;

}

.PanData h6{
	color: #2c3a6f;
	margin-left: 40px;
	padding-top: 30px;
	line-height: 1.5em;

}

.borderbarline{
    content: "";
    position: absolute;
    border: 3px #ff8013;
    width: 100%;
    left: 0;
}
